<footer class="footer">
  <div class="container">
    <div class="row">
        <ul class="new-form-green">
          <li class="list-green"><%= link_to "Privacy Policy", '#' %></li>
          <li class="list-green"><%= link_to "Contact Us", '#' %></li>
          <li class="list-green"><a href="http://news.railstutorial.org/">About</a></li>
          <li class="list-green"><%= link_to "Follow Us", '#' %></li>
        </ul>
    </div>
  </div>
</footer>
