// Specific CSS for your home-page



.html-home body {
  background-image: url(https://res-console.cloudinary.com/le-wagon-go-green/thumbnails/transform/v1/image/upload/Yl9yZ2I6MDAwMDAwLG9fNTg=/v1574458167/aW1hZ2VfcWdseXp1/template_primary);
  background-size: cover;
  background-position: bottom left;
  background-repeat: no-repeat;
  min-height: 100vh;
}



h1 {
  color: #fff;
  font-size: 40px;
}

.btn-green {
  background-color: #507255;
  color: #C6C5B9;
  font-size: 24px;
}

.home {
  margin-top:100px;
}
