
<!-- https://www.figma.com/file/N1cch7b3COVEoHQX6paTPZ/Green-Space?node-id=66%3A117 -->
<!-- 1. Install bootstrap into the project -->
<!-- 2. Translate design into HTMl css and JS -->
<html class='html-home'>
  <div class="home">
    <h1>Find a green space in Mexico City</h1>
    <button class="btn btn-primary btn-green">Show nearest green spaces</button>
  </div>
</html>



<!-- Implement footer down here -->
