
<div class="input-group md-form form-sm form-2 pl-0">
  <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search">
  <div class="input-group-append">
    <span class="input-group-text amber lighten-3" id="basic-text1"><i class="fas fa-search text-grey"
        aria-hidden="true"></i></span>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="card-category col-sm-7 mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dt2bnlehf/image/upload/v1574470273/Green%20Space/map_screen_shot_q3daap.jpg)">
      Map Picture Placeholder
    </div>

    <div class="col-sm-4">
      <div class="card-gs card-gs-first offset-md-1">
        <img src="https://res.cloudinary.com/dt2bnlehf/image/upload/v1574455756/Green%20Space/Screen_Shot_2019-11-19_at_7.48.59_PM_utavw1.png" />
        <div class="card-gs-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-gs-pricing">100m</h2>
        </div>
      </div>

      <div class="card-gs card-gs-first offset-md-1">
        <img src="https://res.cloudinary.com/dt2bnlehf/image/upload/v1574455756/Green%20Space/Screen_Shot_2019-11-19_at_7.48.59_PM_utavw1.png" />
        <div class="card-gs-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-gs-pricing">100m</h2>
        </div>
      </div>
    </div>
  </div>
</div>

