  <div class="card-gs card-gs-first col-sm-3 mt-5 mb-5">
    <img src="https://res.cloudinary.com/dt2bnlehf/image/upload/v1574455756/Green%20Space/Screen_Shot_2019-11-19_at_7.48.59_PM_utavw1.png" />
    <div class="card-gs-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-gs-pricing">100m</h2>
    </div>
  </div>

  <div class="card-gs col-sm-3 mt-5 mb-5">
    <img src="https://res.cloudinary.com/dt2bnlehf/image/upload/v1574456529/Green%20Space/Screen_Shot_2019-11-19_at_11.01.52_PM_ceuaod.png" />
    <div class="card-gs-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-gs-pricing">500m</h2>
    </div>
  </div>

