.new-form {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.list {
    list-style: none !important;
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    font-size:8px;
}
