<div class="container">
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Enter Neighborhood (ex: Condesa, Zona Rosa, etc...)" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
  <div class="row">
    <div class="map-css col-sm-7 mb-5">
      <div
      id='map'
      style="width: 100%; height: 80vh;"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      data-markers="<%= Greenspace.populate_map.to_json %>">
      </div>
    </div>
    <br>

    <div class="col-sm-4">
      <div class="card-gs card-gs-first offset-md-1">
        <img src="https://res.cloudinary.com/dt2bnlehf/image/upload/v1574455756/Green%20Space/Screen_Shot_2019-11-19_at_7.48.59_PM_utavw1.png" />
        <div class="card-gs-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-gs-pricing">100m</h2>
        </div>
      </div>

      <div class="card-gs card-gs-first offset-md-1">
        <img src="https://res.cloudinary.com/dt2bnlehf/image/upload/v1574455756/Green%20Space/Screen_Shot_2019-11-19_at_7.48.59_PM_utavw1.png" />
        <div class="card-gs-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-gs-pricing">100m</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'map' %>
